<div class="container">
  <div class="file-list">
    <app-file-list (fileSelected)="onFileSelected($event)"></app-file-list>
  </div>
  <div class="table-list">
    <app-table-list
      [selectedFileName]="selectedFileName"
      (tableSelected)="onTableSelected($event)"
    ></app-table-list>
  </div>
  <div class="table-details">
    <app-table-details [selectedTable]="selectedTable"></app-table-details>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
